body {
    font-family: Arial, sans-serif;
    background: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-detalle {
    background: rgba(128, 116, 52, 0.603);
    width: 600px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    text-align: center;
}

.card-detalle img {
    width: 200px;
    border-radius: 15px;
    margin-bottom: 20px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background: #333;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}